<%- include('../views/includes/head.ejs') %>

    <style>
        span {
            text-transform: uppercase;
            font-weight: bold;
        }
        
        a {
            font-weight: bold;
            text-transform: uppercase;
        }
        
        .parallax-container {
            height: 450px;
        }
        
        .forpading {
            padding: 40px;
            margin-top: 50px;
        }
    </style>

    </head>

    <%- include('../views/includes/nav.ejs') %>


        <%- include('../views/includes/modal.ejs') %>





            <div class="parallax-container">
                <div class="parallax"><img src="datenyzfive.jpeg">
                    <div class="row">
                        <div class="col s4">

                        </div>
                        <div class="col s4">

                        </div>
                        <div class="col s4  forpading">
                            <h1 style="font-family: 'Pacifico', cursive;color:red">Find your perfect match nearby you</h1>
                            <h3 style="font-family: 'Sacramento', cursive;font-weight: bold;">Browse, Message & Meet Up</h3>
                        </div>

                    </div>

                </div>
            </div>
            <div class="section" style="background-color: rgba(255,0,0,0.3)">
                <div class="row container">
                    <h2 class="header" style="font-family: 'Cookie', cursive;text-align: center;color: red;font-weight: bold;">------------------- Welcome To Match Free -------------</h2>
                    <p class="grey-text text-darken-3 lighten-3" style="font-family: 'Nanum Pen Script', cursive;font-size: 30px;color: red;font-weight: bold;">We have changed the definition of online dating! A real dating is only happening when two relevant people meet in real world. And, we are following this seriously…Find the best partner within your city You find us, finally, and you
                        are already in love. More than 5.000.000 around the world already shared the same experience and uses our system. Joining us today just got easier!</p>
                </div>
            </div>
            <div class="parallax-container">
                <div class="parallax"><img src="datenyzthree.jpg">
                    <div class="row">
                        <div class="col s5">


                        </div>
                        <div class="col s7">
                            <h1 style="font-family: 'Give You Glory', cursive;font-size: 50px;font-weight: bolder;color: yellow;">Genuine Singles, Hot Fun</h1>
                            <p style="font-family: 'Nanum Pen Script', cursive;font-size: 30px;color: white;font-weight: bold;">we take your security seriously. We never share or display your information. Our customer support teams are available 24/7 to ensure your online space is full of genuine singles. Opt in for the VIP membership and our site name
                                won’t show up on your bank statements, keeping your online fun discreet. Sign up for fun.</p>

                        </div>



                    </div>
                </div>
            </div>

            <div class="section" style="background-color: rgba(51,255,51,0.3);">
                <div class="container">
                    <h2 class="header" style="font-family: 'Cookie', cursive;text-align: center;color: red;font-weight: bold;">Feedback</h2>
                    <hr style="margin: 10px solid grey;">

                    <div class="row">
                        <div class="col s6">
                            <form class="col s12 z-depth-3">
                                <div class="row">
                                    <div class=" col s6">

                                        <div class="input-field ">
                                            <i class="material-icons prefix">account_circle</i>
                                            <input id="icon_prefix" type="text" class="validate">
                                            <label for="icon_prefix">Email</label>

                                        </div>

                                        <div class="input-field ">
                                            <i class="material-icons prefix">account_circle</i>
                                            <input id="icon_prefix" type="text" class="validate">
                                            <label for="icon_prefix">Name</label>

                                        </div>

                                    </div>

                                    <div class="col s6">

                                        <div class="input-field">
                                            <i class="material-icons prefix">phone</i>
                                            <input id="icon_telephone" type="tel" class="validate">
                                            <label for="icon_telephone">Telephone(optional)</label>

                                        </div>

                                        <div class="input-field ">
                                            <i class="material-icons prefix">account_circle</i>
                                            <input id="icon_prefix" type="text" class="validate">
                                            <label for="icon_prefix">Country</label>

                                        </div>




                                    </div>
                                </div>
                            </form>


                        </div>
                        <div class="col s6 z-depth-3">

                            <div class="input-field col s12">
                                <i class="material-icons prefix">mode_edit</i>
                                <textarea id="textarea2" class="materialize-textarea" data-length="240"></textarea>
                                <label for="textarea2">Feed back Description</label>
                            </div>
                            <div class="col s12">
                                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i></button>

                            </div>


                        </div>
                    </div>
                </div>


                <footer class="page-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col l6 s12">
                                <h5 style="font-weight: bolder;color: black;">Welcome to the best free dating site on the web</h5>
                                <p class="text-lighten-4" style="color: black;"> 100% Free Online Dating for Tamilnadu Singles. Our free personal ads are full of single women and men in Tamilnadu looking for serious relationships, a little online flirtation, or new friends to go out with. </p>
                            </div>
                            <div class="col l4 offset-l2 s12">
                                <h5 style="color: black;">Links</h5>
                                <ul>
                                    <li><a class="grey-text text-lighten-3" href="#!">Terms and Conditions</a></li>
                                    <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-copyright">
                        <div class="container">
                            <span style="text-align: center;margin-left: 30%;"> Copyright © 2006-2020 match live. All rights reserved</span>

                        </div>
                    </div>


                </footer>


                <script type="text/javascript">
                    $(document).ready(function() {

                        $('select').formSelect();

                        $('.parallax').parallax();
                        $('.modal').modal();

                        $('input#input_text, textarea#textarea2').characterCounter();
                    });
                </script>
                </body>

                </html>