<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content" style="background: url('datenyzfour.jpeg');">
        <h4 style="text-align: center;"><span style="font-weight: bolder;">LO</span><span style="color: red;font-weight: bolder;">GIN</span></h4>
        <hr>
        <form action="" method="" class="col s12">
            <div class="input-field col s12">
                <input type="email" class="validate">
                <label for="email" style="font-weight: bolder;color: red;">Email</label>
            </div>

            <div class="input-field col s12">
                <input type="password" class="validate">
                <label for="password" style="font-weight: bolder;color: green;">Password</label>
            </div>
            <span><a href="" style="font-weight: bolder;color: black;">Forgot password ? </a></span><br><br>
            <a class="waves-effect waves-light btn" style="background-color: orange;">LOGIN</a>
        </form>
    </div>
    <div class="modal-footer">
        <span style="font-weight: bold;">Not Registered yet ? sign up now</span><a href="/signup" style="color: orange;font-weight: bolder;" class="modal-action modal-close waves-effect waves-green btn-flat ">sign up</a>
    </div>
</div>