<body>
    <nav>
        <div class="nav-wrapper z-depth-2">
            <a href="/" class="brand-logo" style="margin-left: 10px;">MATCH <span style="color: yellow;">FREE</span></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class=" <%= pagetittle === 'Dating' ? 'actived' : ' ' %>" href="/">Home</a></li>
                <li><a class=" <%= pagetittle === 'services' ? 'actived' : ' ' %>" href="/services">services</a></li>
                <li><a class=" <%= pagetittle === 'termsandc' ? 'actived' : ' ' %>" href="/termsandc">Terms and conditions</a></li>
                <li><a class=" <%= pagetittle === 'signup' ? 'actived' : ' ' %>" href="/signup">sign up</a></li>
                <li><a style="background-color: gold;color: black;font-weight: bold;" class="waves-effect waves-light btn modal-trigger" href="#modal1">LOGIN</a></li>
            </ul>
        </div>





    </nav>