<%- include('../views/includes/head.ejs') %>

    <style>
        .paidmem {
            padding: 5px;
            background-color: gold;
        }
        
        .lit {
            padding: 10px;
            font-family: 'Satisfy', cursive;
            font-weight: bolder;
        }
    </style>
    </head>

    <%- include('../views/includes/nav.ejs') %>
        <%- include('../views/includes/modal.ejs') %>




            </section>

            <section>
                <div>
                    <h4 style="font-weight: bold;text-align: center;text-transform: uppercase;color: blue;padding: 10px;font-family: 'Roboto Slab', serif;" class="z-depth-1">TErms and conditions</h4>

                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header" style="font-weight: bolder;"><i class="material-icons">whatshot</i>Your Content</div>
                            <div class="collapsible-body"><span>In these Website Standard Terms and Conditions, “Your Content” shall mean any audio, video text, images or other material you choose to display on this Website. By displaying Your Content, you grant Company Name a non-exclusive, worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media. Your Content must be your own and must not be invading any third-party’s rights. Company Name reserves the right to remove any of Your Content from this Website at any time without notice.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header" style="font-weight: bolder;"><i class="material-icons">whatshot</i>No warranties</div>
                            <div class="collapsible-body"><span>This Website is provided “as is,” with all faults, and Company Name express no representations or warranties, of any kind related to this Website or the materials contained on this Website. Also, nothing contained on this Website shall be interpreted as advising you.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header" style="font-weight: bolder;"><i class="material-icons">whatshot</i>Limitation of liability</div>
                            <div class="collapsible-body"><span>In no event shall Company Name, nor any of its officers, directors and employees, shall be held liable for anything arising out of or in any way connected with your use of this Website whether such liability is under contract. Company Name, including its officers, directors and employees shall not be held liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Website</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header" style="font-weight: bolder;"><i class="material-icons">whatshot</i>Indemnification</div>
                            <div class="collapsible-body"><span>You hereby indemnify to the fullest extent Company Name from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms.
Severability</span></div>
                        </li>

                        <li>
                            <div class="collapsible-header" style="font-weight: bolder;"><i class="material-icons">whatshot</i>Severability</div>
                            <div class="collapsible-body"><span>If any provision of these Terms is found to be invalid under any applicable law, such provisions shall be deleted without affecting the remaining provisions herein.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header" style="font-weight: bolder;"><i class="material-icons">whatshot</i>Variation of Terms</div>
                            <div class="collapsible-body"><span>Company Name is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review these Terms on a regular basis.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header" style="font-weight: bolder;"><i class="material-icons">whatshot</i>Governing Law & Jurisdiction</div>
                            <div class="collapsible-body"><span>These Terms will be governed by and interpreted in accordance with the laws of the State of Country, and you submit to the non-exclusive jurisdiction of the state and federal courts located in Country for the resolution of any disputes.</span></div>
                        </li>

                    </ul>
                </div>
            </section>

            <section>
                <div style="background-color: pink;">
                    <h4 style="font-weight: bold;text-align: center;text-transform: uppercase;color: blue;padding: 10px;font-family: 'Roboto Slab', serif;" class="z-depth-2">membership</h4>
                    <div class="row">
                        <div class="col s4">
                            <div>
                                <ul>
                                    <li class="lit"><span> <i class="material-icons">looks_one</i>See who likes you on Mutual Match</span></li>
                                    <li class="lit"><span> <i class="material-icons">looks_two</i>Browse other member’s profile invisibley without them knowing</span></li>
                                    <li class="lit"><span> <i class="material-icons">looks_3</i>Get 300% more profile views with your profile listed earlier in search, who’s online, and potential daters’ homepage.</span></li>
                                </ul>
                            </div>


                        </div>
                        <div class="col s4">
                            <div class="col s4">
                                <div class="paidmem z-depth-2">
                                    <h4 style="text-align: center;font-family: 'Pacifico', cursive;"><button class="btn-large btn-floating " style="text-align: center;background-color: orange;"><span style="font-weight: bolder;">3</span></button> months</h4>
                                    <h5 style="font-family: 'Pacifico', cursive;text-align: center;">10 $ / mon</h5>

                                    <a class="waves-effect waves-light btn" style="font-family: 'Pacifico', cursive;text-align: center;">Buy plan </a>
                                </div>
                            </div>
                            <div class="col s4">
                                <div class="paidmem z-depth-2">
                                    <h4 style="text-align: center;font-family: 'Pacifico', cursive;"><button class="btn-large btn-floating " style="text-align: center;background-color: orange;"><span style="font-weight: bolder;">6</span></button> months</h4>
                                    <h5 style="font-family: 'Pacifico', cursive;text-align: center;">7 $ / mon</h5>
                                    <a class="waves-effect waves-light btn" style="font-family: 'Pacifico', cursive;text-align: center;">Buy plan</a>
                                </div>

                            </div>
                            <div class="col s4">
                                <div class="paidmem z-depth-2">
                                    <h4 style="text-align: center;font-family: 'Pacifico', cursive;"><button class="btn-large btn-floating " style="text-align: center;background-color: orange;"><span style="font-weight: bolder;">12</span></button> months</h4>
                                    <h5 style="font-family: 'Pacifico', cursive;text-align: center;">5 $ / mon</h5>
                                    <a class="waves-effect waves-light btn" style="font-family: 'Pacifico', cursive;text-align: center;">Buy plan</a>
                                </div>
                            </div>

                        </div>
                        <div class="col s4">
                            <div>
                                <ul>
                                    <li class="lit"><span><i class="material-icons">looks_5</i>Find out if someone read your message </span></li>
                                </ul>
                            </div>

                        </div>

                    </div>

                </div>



            </section>

            <footer class="page-footer">
                <div class="container">
                    <div class="row">
                        <div class="col l6 s12">
                            <h5 style="font-weight: bolder;color: black;">Welcome to the best free dating site on the web</h5>
                            <p class="text-lighten-4" style="color: black;"> 100% Free Online Dating for Tamilnadu Singles. Our free personal ads are full of single women and men in Tamilnadu looking for serious relationships, a little online flirtation, or new friends to go out with. </p>
                        </div>
                        <div class="col l4 offset-l2 s12">
                            <h5 style="color: black;">Links</h5>
                            <ul>
                                <li><a class="grey-text text-lighten-3" href="#!">Terms and Conditions</a></li>
                                <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container">
                        <span style="text-align: center;margin-left: 30%;"> Copyright © 2006-2020 match live. All rights reserved</span>

                    </div>
                </div>

            </footer>


            <script type="text/javascript">
                $(document).ready(function() {
                    $('.slider').slider();
                    $('.collapsible').collapsible();
                    $('.modal').modal();

                });
            </script>




            </body>

            </html>